@mixin transition($what: all, $time: 0.3s) {
	-webkit-transition: $what $time;
	transition: $what $time;
}

@mixin transitiond($val: 1s) {
	-webkit-transition-delay: $val;
	transition-delay: $val;
}

@mixin opacity($op: 0.8) {
	opacity: $op;
}

@mixin bgcover() {
  	background-size: cover;
}

@mixin boxsizing($what: border-box) {
    box-sizing: border-box;
}

@mixin placeholder($color) {
	&::-webkit-input-placeholder {
	   color: $color;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   color: $color;  
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   color: $color;  
	}

	&:-ms-input-placeholder {  
	   color: $color;  
	}
}

.borderbox {
	@include boxsizing();
}

.transition {
	@include transition();
}

.bgcover {
	@include bgcover();
}

.opacity {
	@include opacity();
}
